<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List All Persons</title>
</head>
<body>
<a th:href="@{/form}">Create New Person</a>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person:${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.number}"></td>
        <th>

            <a th:href="@{/updatePerson/{id}(id=${person.id})}">Update</a>
            <a th:href="@{/deletePerson/{id}(id=${person.id})}">Delete</a>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>